* {
  box-sizing: border-box;
}

:root {
  --mainColor : #22C3DF;
  --secColor : #057B8F;
}

@font-face {
  font-family: webs;
  src: url(web_font.woff2);
}

body {
  font-family: webs;
  background-color: #f3f3f3;
  margin: 0;
  padding: 0;
}

::selection {
  background-color: var(--mainColor);
  color: black;
}

html {
  scroll-behavior: smooth;
}

.mw {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.ms {
  scroll-margin-top: 100px;
}

header {
  position: sticky;
  top: 0;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  height: 80px;
}

.left_header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left_header img {
  margin-left: 8px;
  width: 60px;
}

.left_header span {
  font-weight: bold;
  margin-left: 8px;
}

.middle_header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.middle_header input {
  padding-left: 8px;
  background-color: transparent;
  border: 2px solid black;
  border-radius: 8px;
  width: 300px;
  height: 35px;
}

.middle_header span {
  margin-left: 8px;
}

.middle_header input::placeholder {
  font-family: webs;
  padding: 6px;
  padding-left: 0;
}

.menu {
  position: relative;
  cursor: pointer;
  padding-bottom: 10px;
  padding-top: 50%;
}

.menu span {
  margin-right: 8px;
}

.right_header {
  position: relative;
}

.menu ul {
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  top: 100%;
  right: 0;
  display: flex;
  flex-direction: column;
  background-color: #868790;
  justify-content: center;
  width: 200px;
  display: none;
  z-index: 100;
}

.menu ul::before {
  content: "";
  position: absolute;
  right: 10px;
  top: -20px;
  border-color: transparent transparent #868790 transparent;
  border-style: solid;
  border-width: 10px;
}

.menu ul li {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.menu ul li span {
  margin-right: 10px;
}

.menu ul li:not(:last-child) {
  border-bottom: 1px solid black;
}

.menu ul li a {
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}

.menu:hover ul {
  display: flex;
}

.menu ul li:hover {
  background-color: #C3C3C3;
  border: 2px solid black;
}

.material-symbols-outlined {
  cursor: pointer;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 200px));
  gap: 15px;
  justify-content: center;
}

.grid div {
  background-color: #A6A6A6;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact table {
  border-collapse: collapse;
}

.contact table td {
  background-color: #999999;
  border: 1px solid #707070;
  padding: 10px;
}

footer {
  margin: 25px;
  background-color: #3A3E56;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}